button.navbar-toggler:focus{
    outline: none;
}
.navbar-dark .navbar-toggler{
    border: none;
}

.card{
    height: 650px;
    margin: 40px 0px;
}

.clubs{
    padding: 120px 0;
    text-align: center;
}

.club_title{
    font-size: 2.5rem;
    line-height: 1.5;
}

.club_category{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

.writing{
    text-align: center;
}

.newdraft{
    align-items: center;
    height: 800px;
}

.square{
    width: 60%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
}